.container {
  min-width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;

  border: 1px solid #000;
  border-radius: 15px;
  overflow: hidden;

  overflow-y: auto;
}
.title {
  font-size: 40px;
}
.form {
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.form > input {
  border: 1px solid #000;
  border-radius: 2px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  height: 30px;
  width: 30px;

  background-color: rgba(255, 255, 255, 0);
  background-color: none;
  border: none;
}
.green {
  color: green;
}
.red {
  color: red;
}

.react-icons {
  vertical-align: middle;
  background-color: green;
}

.decoration {
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, white, black, white);
  margin: 5px 0;
  content: "";
}

.listContainer {
  display: flex;
  justify-content: center;
  width: 90%;
  flex-grow: 1;
  overflow: hidden;
  overflow-y: auto;
}
.list {
  width: 80%;
  padding: 0 0 0 50px;
  list-style-type: decimal-leading-zero;

  font-size: 30px;

  color: rgb(0, 0, 0);
}
.listItem:hover {
  background-color: rgb(243, 243, 243);
  transform: scale(1.1);
  transition: linear 0.2s all 0s;
}

.listItemContentContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
